.identity {
}

.avatar {
  cursor: pointer;
  float: right;
}

.identityMenu {
  position: absolute;
  top: 60px;
  right: var(--margin);
  margin-top: var(--margin);
  background-color: var(--calcite-ui-foreground-3);
  padding: 15px;
}

.userTitle {
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: var(--margin);
  margin-bottom: var(--margin);
}

.userInfo p {
  margin: 0;
}
