.container {
  position: absolute;
  top: 20px;
  background-color: var(--calcite-ui-foreground-3);
  left: 0;
  right: 0;
  padding: 15px;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  font-size: var(--calcite-font-size--1);
  align-items: center;
}

.leftActionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightActionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.selectedCountry {
  color: var(--calcite-ui-brand);
  font-weight: bold;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .labelContainer {
    display: none;
  }
}
